:root {
  --input-color: rgba(0, 0, 0, 0.3);
  --transparent: rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
  object-fit: cover;
}

body {
  height: 100vh;
  background: no-repeat center;
  background-size: cover;
  display: flex;
}

.right-side {
  position: relative;
}

.container {
  width: 700px;
}

#right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 730px;
  margin-top: 500px;
}

#clock {
  font-size: 100px;
  margin-left: 50px;
}

#name-input {
  background-color: var(--transparent);
  width: 270px;
  height: 17px;
  border-radius: 30px;
  border-style: none;
  padding: 15px;
  font-size: 30px;
  margin-left: 50px;
  margin-top: -20px;
}

#name-input::placeholder {
  color: var(--input-color);
}

#greeting {
  font-size: 50px;
  margin-left: 60px;
  margin-top: -20px;
}

#log-in {
  display: none;
}

#todo-input {
  background-color: var(--transparent);
  width: 180px;
  height: 17px;
  border-radius: 30px;
  border-style: none;
  padding: 15px;
  font-size: 25px;
  margin-left: 50px;
}

#todo-input::placeholder {
  color: var(--input-color);
}

#todo-list {
  margin-left: 40px;
}

button {
  border-style: none;
  background-color: var(--transparent);
}

ul li {
  font-size: 20px;
  margin-bottom: 10px;
}

#quote {
  display: flex;
  justify-content: flex-end;
  margin-right: 37px;
  font-size: 20px;
  font: italic 1.2em "Fira Sans", serif;
}

#author {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 37px;
  font-size: 15px;
  font: italic 1em "Fira Sans", serif;
}

#weather {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 37px;
}

#weather span {
  margin-left: 14px;
}

#instagram {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 37px;
}

a {
  text-decoration-line: none;
  color: black;
}
