.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
  object-fit: cover;
}

body {
  height: 100vh;
  background: no-repeat center;
  background-size: cover;
}
